@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Racing+Sans+One|Satisfy);

body {
    color: white;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: black;
}

p {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

em {
    font-family: Satisfy;
    font-size: 142%;
}

strong {
    font-family: Racing Sans One;
    font-size: 127%;
    letter-spacing: -2px;
}

h1, h2, h3, h4 {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

ul {
    list-style-position: inside;
}

li {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 0.3em;
    line-height: 1.8em;
    list-style-type: disc;
}

a {
    text-decoration: none;
    color: white;
}

blockquote {
    margin-right: 0em;
    margin-left: 0em;
}

pre.highlight {
    color: black;
    padding: 25px;
    background-color: #ffffcc;
}
